# DuckDNS
DUCKDNS_TOKEN=your_duckdns_token

# PostgreSQL
POSTGRES_USER=maria
POSTGRES_PASSWORD=change-this-to-a-secure-password
POSTGRES_DB=maria_db

# Grafana admin
GF_ADMIN_USER=admin
GF_ADMIN_PASSWORD=change-this-to-a-secure-password
